<% content_for :title do %>About<% end %>
<h3>About Office Betting</h3>
<p><b>Long story short:</b></p>
<p>Site for coworkers who no something about Champions League and want to prove their superiority over others.</p>
